@import "tailwindcss";

@theme {
  --border-width-0_5: 0.5px;
  --border-width-0_1: 0.1px;
}

body {
  background-color: rgb(17, 15, 15);
  color: white;
}

.remote-cursor {
  border-left: 3px solid red;
  margin-left: -2px;
}

.remote-cursor-label {
  position: relative;
  top: -16px;
  background: red;
  color: white;
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 4px;
}